{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}

    hola

     <ul class="navbar-nav">
        <li class="nav-item">

            <a class="nav-link" href="{% url 'proveedores' %}">Ver Todo</a>
        </li>
    </ul>

{% endblock %}
