{% extends 'base.html' %}
{% block title %}Editar País{% endblock %}
{% block content %}

<h1>Editar</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Guardar Cambios</button>
</form>

<a href="{% url 'proveedores' %}">Volver a la lista de países</a>

{% endblock %}