{% extends 'base.html' %}
{% block title %}Eliminar {% endblock %}
{% block content %}
  <h1>Eliminar</h1>
  <p>¿Estás seguro de que deseas eliminar: "{{ proveedores.nombre }}"?</p>
  <form method="post">
    {% csrf_token %}
    <button type="submit">Sí, eliminar</button>
    <a href="{% url 'proveedores'%}">Cancelar</a>
  </form>
{% endblock %}
