<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
      <h1>proveedores</h1>

</h2>
    <ul>
            <h2>Países: <a href="{% url 'crear_proveedores' %}">Crear Nuevo proveedor</a>
            <br><br><br>
        {% for proveedores in proveedores %}
            <li>
                Nombre: {{ proveedores.nombre }}<br>
                nif: {{ proveedores.nombre }}<br>
                direccion: {{ proveedores.direccion }}<br><br><br>
            </li>

        {% endfor %}
    </ul>
</body>
</html>