<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Título Predeterminado{% endblock %}</title>
    <!-- Agrega el enlace al archivo CSS de Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <header>
    </header>


    <main class="container mt-4">
        <!-- Aquí se mostrará el contenido principal de tus páginas -->
        {% block content %}{% endblock %}
    </main>

    <footer class="bg-light text-center py-3">
        <!-- Aquí puedes incluir el pie de página de tu sitio -->
        <p>Derechos de autor &copy; {{ year }} Tu Nombre</p>
    </footer>

    <!-- Agrega los scripts de Bootstrap al final del documento -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
